<div class="container">
    <mat-card>
        <div class="login-container">
            <h4> Login </h4>
        </div>
        <div class="social">
            <h5> Continue with </h5>
            <div class="social-login">
                <div class="social-login-button">
                    <img src="../assets/google.png" alt="">
                    <h5> Google </h5>
                </div>
                <div class="social-login-button">
                    <img src="../assets/Facebook.png" alt="">
                    <h5> Facebook </h5>
                </div>
            </div>
            <h5> Or login with Email </h5>
        </div>
        <div class="credential-container">
            <h6>Email</h6>
            <div class="input-container">
                <input matInput type="email">
            </div>
            <h6>Password</h6>
            <div class="input-container">
                <input matInput type="password">
            </div>
            <div class="link">
                <a href="#">Forgot password?</a>
            </div>
            <button mat-raised-button class="login-button"> Login </button>
            <div class="create-account">
                Don't have an account ? <a href="#"> Sign Up </a>
            </div>
        </div>
    </mat-card>
    <mat-card>
        <div class="otp-header">
            <mat-icon>chevron_left</mat-icon>
            <div class="header-section">
                <h4>Enter Code</h4>
                <h5>
                    A 4 digit code has been sent to your mobile number 92******21
                </h5>
            </div>
        </div>
        <div class="otp">
            <span class="point selected"></span>
            <span class="point selected"></span>
            <span class="point selected"></span>
            <span class="point"></span>
        </div>
        <div class="key-container">
            <div class="key">1</div>
            <div class="key">2</div>
            <div class="key">3</div>
            <div class="key">4</div>
            <div class="key">5</div>
            <div class="key">6</div>
            <div class="key">7</div>
            <div class="key">8</div>
            <div class="key">9</div>
            <div class="key">
                <mat-icon>backspace</mat-icon>
            </div>
            <div class="key">0</div>
            <div class="key">
                <mat-icon>logout</mat-icon>
            </div>
        </div>
        <div class="credential-container">
            <button mat-raised-button class="resent-button"> Resent Code (in 30 Seconds) </button>
            <button mat-raised-button class="login-button"> Sent Code to Email </button>
        </div>
    </mat-card>
</div>